<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
 <h1> Here is what you have for shopping  </h1>
  <ul class="quotes">
  <% for(var i=0; i<EOC.length; i++) {%>
    <li class="quote">
      <span><%= EOC[i].enter %></span>
    </li>
  <% } %>
  </ul>
 
</body>
</html>
